header { height: 60px; }

.top-containner-box { overflow: auto; }
.top-containner-box > div { display: inline-block; }
.top-title { margin-left : 50px; margin-top: 5px; }
.top-title > h2 { color: #3366CC;}
.top-title > h2 > a { text-decoration-line: none;  color: darkkhaki;}
.top-containner-box { background-color: #333; }
.top-login-box { float: right; margin-right: 7%; }

.top-login-box li { list-style: none; }
.top-login-box ul { display: flex; margin-right: 10%; width: 210px; }

.top-login-box a { display: block;
                   text-align: center;
                   margin: 0.25rem;
                   padding: 0.5rem 1rem;
                   text-decoration: none;
                   font-weight: bold;
                   color: white;
                   background: rgb(64, 79, 70);                         
                }
.top-login-box a:hover { cursor: pointer; }


